<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<div id="navbar">
    <div class="navbar-top ">
        <div class="bars p-1" data-bs-target="#staticBackdrop" data-bs-toggle="offcanvas" type="button">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <h1 th:text ="${pageName}" ></h1>


        <div aria-labelledby="staticBackdropLabel" class="offcanvas offcanvas-start" data-bs-backdrop="static" id="staticBackdrop"
             tabindex="-1">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="staticBackdropLabel">Menu</h5>
                <button aria-label="Close" class="btn-close btn-danger" data-bs-dismiss="offcanvas"
                        type="button"></button>
            </div>
            <div class="offcanvas-body">
                <div><a href="/api/user/comandas">Comandas</a>
<!--                    <a href="Categorias">Produtos</a> Checar como irá funcionar por conta do contexto / cliente -->
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="collapsed" data-bs-toggle="collapse" href="#collapseAdm" aria-controls="collapseAdm">Administração</a>
                        <div class="collapse " id="collapseAdm">
                            <a href="/api/admin/funcionarios">Funcionários</a>
                            <a href="/api/admin/mesas">Mesas</a>
                            <a href="/api/admin/produtos">Produtos</a>
                            <a href="/api/admin/categorias">Categorias</a>
                        </div>

                    </div>
                    <a href="/api/user/mesas">Mesas</a>
                    <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-primary" data-bs-target="#logout"
                       data-bs-toggle="modal" id="logoutBtn" role="button">
                        Logout
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logout" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="labelLogout">Logout</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja fazer Logout?
            </div>
            <div class="modal-footer">
                <form th:action="@{/logout}" method="post"></form>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fechar</button>
                <button class="btn btn-primary"  type="submit">Fazer logout</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="Back" onclick="history.back()"><i class='fas'>&#xf053;</i> Voltar
    </button>
</div>


</html>


