.card {
    padding: 9px;
    margin: 1.35%;
    align-items: center;
    max-width: 337px;
    background-color: lightsalmon;

}

.card-title {
    text-align: center;
    font-size: 1.989em;
    margin-bottom: 0;
}

.preco {
    margin: 0;
}


.card a:hover {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

.card a:active {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

img {

    height: 5.85rem;
    width: 5.85rem;
    margin-top: 9%;
    margin-bottom: 9%;
}

.hstack button {
    font-size: large;
    width: fit-content;
    /*background-color: transparent;*/
    border: none;
}

.less {
    margin: 5px;
    color: #D82435;
    background-color: transparent;


}

.plus {
    margin: 5px;
    color: #4CAF50;
    background-color: transparent;
}

.text, .quant {
    font-size: 22px;
    margin-top: 9px;
}

.form-control {
    margin-top: 1.8em;
    margin-left: 4px;
}

h2 {
    margin-top: 9px;
    font-size: 22px;
}


.remover {


    margin-left: 60%;
    margin-bottom: 9px;
    margin-right: 10%;
}

#carrinho {

    margin-left: 75%;

}

#navBot {
    background-color: #D82435;
    position: fixed;
    z-index: 1;

}

#total {
    color: #eeeeee;
    padding-right: 15px;
    margin-right: 25px;
}