<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <script src="/js/navbar.js"></script>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="/fontawesome-free-6.4.0-web/js/all.js"></script>
    <link href="/css/pintura.css" type="text/css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/categorias.css" rel="stylesheet">
    <title>Categorias</title>
</head>

<body>

<div th:insert="~{User/navbar}"></div>

<div class="container">


    <div class="row align-items-start">
        <div class="card text-center">
            <button class="btn imageBtn" data-bs-target="#criarCategoria" data-bs-toggle="modal" type="button">
                <img alt="..." class="card-img-top image" id="CategoriaAddImage" src="/img/PNG/add_button.png">
            </button>
            <div class="card-body">
                <h5 class="card-title">Criar Categoria</h5>
                <button class="btn btn-primary"
                        data-bs-target="#criarCategoria" data-bs-toggle="modal" type="button">
                    Criar
                </button>
            </div>
        </div>

        <th:block th:each="categoria : ${categorias}">

            <div class="card text-center" th:id="${categoria.nome}">
                <button class="btn"
                        data-bs-toggle="modal"
                        th:attr="data-bs-target=${'#editCategoria' + categoria.id()}"
                >
                    <img class="card-img-top image" th:alt="${categoria.nome}"
                         th:src="${categoria.imagem()}"/>

                </button>
                <div class="card-body">
                    <h5 class="card-title" th:text="${categoria.nome}">Teste</h5>
                    <div aria-label="Vertical button group" class="btn-group-vertical" role="group">
                        <button class="btn btn-primary" data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#editCategoria' + categoria.id()}"
                                th:id="${'CategoriaEdit' + categoria.nome}" type="button">
                            Editar
                        </button>
                        <button class="btn btn-danger" th:id="${'exclude' + categoria.id()}"
                                th:attr="data-bs-target=${'#delete' + categoria.id()}"
                                data-bs-toggle="modal"
                                type="button">Excluir
                        </button>

                    </div>
                </div>
            </div>

        </th:block>


    </div>

</div>
<div id="modals">
    <div aria-hidden="true" aria-labelledby="staticBackdropLabel" class="modal fade" id="criarCategoria">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!--                    <h1 class="modal-title fs-5" th:text="${categoria.nome}" th:id="'labelCategoria' + ${categoria.nome}"></h1>-->

                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <form action="/api/admin/createCategoria" id="formCreate" enctype="multipart/form-data" method="POST">
                    <div class="modal-body vstack">
                        <div class="hstack p-1 ">
                            <label class="form-label" for="categoriaNome">Nome da Categoria:</label>
                            <input class="form-control categoriaNome" id="categoriaNome" name="nome" required
                                   maxlength="30"
                                   type="text">

                        </div>
                        <div class="hstack p-2">
                            <div class="m2">
                                <label class="form-label" for="formFile">Imagem</label>
                                <input accept="image/png, image/jpeg" class="form-control fileInput"
                                       id="formFile" name="file" type="file" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="submit"

                            >Criar
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <th:block th:each="categoria : ${categorias}">
        <div aria-labelledby="staticBackdropLabel" class="modal fade" th:id="${'editCategoria' + categoria.id()}">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Editar Categoria</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <form action="/api/admin/editCategoria" class="formEdit" enctype="multipart/form-data"
                          method="POST">
                        <div class="modal-body vstack">
                            <div class="hstack p-1 ">
                                <label class="form-label" th:for="${'categoriaNome' + categoria.id()}">Nome da
                                    Categoria:</label>
                                <input class="form-control categoriaNome" th:id="${'categoriaNome' + categoria.id()}"
                                       name="nome" required maxlength="30"
                                       th:value="${categoria.nome()}" type="text">

                            </div>
                            <div class="hstack p-2">
                                <div class="m2">
                                    <label class="form-label" th:for="${'formFile' + categoria.id()}">Imagem</label>
                                    <input accept="image/png, image/jpeg" class="form-control"
                                           th:id="${'formFile' + categoria.id()}" name="file" type="file">
                                    <input th:value="${categoria.id()}" name="categoriaId" type="hidden">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="submit"

                                >Editar
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div aria-labelledby="staticBackdropLabel" class="modal fade" th:id="${'delete'+ categoria.id()}"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="labelLogout">Deletar categoria?</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body" th:text="${'Tem certeza que deseja deletar ' + categoria.nome() + '?'}">
                        Error
                    </div>
                    <div class="modal-footer">
                        <form action="/api/admin/disableCategoria" class="formDelete" method="post">
                            <input th:value="${categoria.id()}" name="categoriaId" type="hidden">
                            <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fechar</button>
                            <button class="btn btn-danger" type="submit"
                                    data-bs-toggle="modal"
                                    data-bs-target="#processingModal"

                            >Deletar categoria
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</div>
<div class="modal fade" id="processingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Processando alteração</h1>
            </div>
            <div class="modal-body">
                Aguarde enquanto processamos suas alterações
            </div>

        </div>
    </div>
</div>

</body>
<script type="module" src="/js/imageEdit.js">
</script>
</html>

