<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/fontawesome-free-6.4.0-web/js/all.js"> </script>
    <link href="/css/navbar.css" rel="stylesheet">
    <script src="/js/navbar.js"></script>

    <link href="/css/mesas.css" rel="stylesheet">
    <script src="/js/mesas.js"></script>
    <title>Mesas</title>
</head>
<body>
<div th:insert="~{User/navbar}"></div>
<div class="container">
    <!--    Mesas-->

<!--Card para adicionar mesas-->
    <div class="row align-items-start" id="MesaContainer">
        <div class="card">
            <button class="btn imageBtn addMesa" type="button">
                <img alt="..." class="card-img-top image" id="mesaAddImage" src="/img/PNG/mesa-add.png">
            </button>
            <div class="card-body">
                <h5 class="card-title" >Criar Mesa</h5>
                <button class="btn btn-primary createMesa"
                        id="createMesa" type="button">
                    Criar Mesa
                </button>
            </div>
        </div>

        <th:block th:each="mesa : ${mesas}">

            <div th:if="${mesa.mStatus == 'ATIVO'}" class="card">
                <button class="btn imageBtn" th:id="${'addPedido' + mesa.numMesa}" type="button">
                    <img alt="..." class="card-img-top image" src="/img/PNG/mesa.png">
                </button>
                <div class="card-body">
                    <h5 class="card-title" th:text="${'Mesa ' + mesa.numMesa}">Mesa</h5>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <button class="btn btn-primary addPedido"
                            th:id="${'addPedido' + mesa.numMesa}" type="button">
                        Editar
                    </button>
                    <button class="btn btn-danger" th:id="${'exclude' + mesa.numMesa}" type="button">Excluir</button>
                </div>
            </div>
            </div>

            <div th:if="${mesa.mStatus == 'OCUPADA'}" class="card">
                <button class="btn imageBtn disabled" type="button">
                    <img alt="..." class="card-img-top image" src="/img/PNG/mesa-ocupada.png">
                </button>
                <div class="card-body">
                    <h5 class="card-title" th:text="${'Mesa ' + mesa.numMesa}">Mesa</h5>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        <button class="btn btn-primary disabled"
                                th:id="${'addPedido' + mesa.numMesa}" type="button">
                            Editar
                        </button>
                        <button class="btn btn-danger disabled" th:id="${'exclude' + mesa.numMesa}" type="button">Excluir</button>
                    </div>                </div>
            </div>

        </th:block>



    </div>

<!--    Modals-->
    <div id="modals">
        <th:block th:each="mesa : ${mesas}">
            <div th:if="${mesa.mStatus == 'ATIVO'}">
                <div aria-hidden="true" th:attr="aria-labelledby='labelMesa' + ${mesa.numMesa}"  class="modal fade" th:id="'ModalMesa' + ${mesa.numMesa}"  aria-labelledby="staticBackdropLabel">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" th:text="${'Mesa ' + mesa.numMesa}" th:id="'labelMesa' + ${mesa.numMesa}"></h1>

                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                            </div>
                            <form action="" method="POST">
                                <div class="modal-body vstack">
                                    <div class="hstack p-1 ">
                                        <label class="form-label" th:for="'clientNameMesa' + ${mesa.numMesa}">Nome do Cliente:</label>
                                        <input class="form-control clientNameMesa" th:id="'clientNameMesa' + ${mesa.numMesa}" name="clientName" required type="text">
                                        <input class="form-control" th:id="'mesaNum' + ${mesa.numMesa}" name="mesaNum" th:value="${mesa.numMesa}" type="hidden">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary add-btn" type="button">Adicionar</button>
                                    <button class="btn btn-primary" th:id="'addMesa' + ${mesa.numMesa}" type="submit">Adicionar e ir para categorias</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>


</div>
</body>
</html>
