<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet"/>

    <link href="/css/login.css" rel="stylesheet">
    <title>Login</title>
</head>

<body>

<div class="login-container position-absolute top-50 start-50 translate-middle">
    <h1>Login</h1>
    <h2>Faça login para acessar o sistema</h2>
    <form id="login-form" method="post" th:action="@{/login}">

        <label class="form-label" for="username">Username:</label>
        <input autofocus="autofocus" id="username"
               name="username" placeholder="username" required type="text">

        <label class="form-label" for="password">Senha:</label>
        <div class="hstack p-1">
            <input id="password" name="password" placeholder="Senha" required type="password">
            <i class="bi bi-eye-slash eye" id="togglePassword"></i>
        </div>

        <button id="SendForm" type="submit">Entrar</button>
        <p class="error" th:if="${loginError}">Usuario ou senha incorreto!</p>
<!--        <a data-bs-target="#forgotModal" data-bs-toggle="modal" href="">Esqueceu a senha?</a> <br/>-->

    </form>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="forgotModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Esqueceu a senha</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label class="col-form-label" for="EmailForgot">Insira seu E-mail de recuperação:</label>
                    <input class="form-control" id="EmailForgot" required type="email">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Fechar</button>
                <button class="btn btn-primary" id="forgotBtn" type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>


<!-- Toast Recuperar senha -->

<div aria-atomic="true" aria-live="polite" class="d-flex justify-content-center align-items-center w-100 ">


    <div aria-atomic="true" aria-live="assertive" class="toast " id="toastForgot" role="alert">
        <div class="toast-header">

            <strong class="me-auto">Recuperação</strong>

            <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
        </div>
        <div class="toast-body">
            E-mail enviado, cheque sua caixa de entrada e siga as instruções para recuperar sua senha.
        </div>
    </div>
</div>

<!-- Toast Senha incorreta -->

<div aria-atomic="true" aria-live="polite" class="d-flex justify-content-center align-items-center w-100 ">


    <div aria-atomic="true" aria-live="assertive" class="toast " id="incorrectPass" role="alert">
        <div class="toast-header">

            <strong class="me-auto">Recuperação</strong>

            <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
        </div>
        <div class="toast-body">
            Senha incorreta
        </div>
    </div>
</div>


</body>
<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");
    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);

        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>
</html>
